.selected_weather {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  margin: 2rem 2rem 5rem 2rem;
  padding: 2rem 4rem 3rem 4rem;
  background-color: rgba(100, 97, 97, 0.49);
  border-radius: 4%;
  opacity: 1;
  width: 55%;
  height: 45%;
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
  font-weight: bolder;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.selected_list {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  list-style: none;
  padding: 0.5rem;
}
.selected_icon {
  width: 40%;
  height: auto;
  max-width: 240px;
  min-width: 130px;
}
.location_name {
  margin: 0;
  padding: 3px 8px;
  font-size: 2.6rem;
}
.selected_body {
  display: flex;
  padding: 5px 5px;
  margin-left: 25px;
  flex-direction: row-reverse;
  align-items: center;
  font-size: 5rem;
}
.selected_date_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 1rem 0;
}
.selected_date {
  padding: 1rem;
  font-size: 1.6rem;
  font-weight: bolder;
}
.dark_selected_weather {
  background-color: rgba(146, 145, 145, 0.469);
}
@media (min-width: 1051px) {
  .date_phone {
    display: none;
  }
}

@media (max-width: 800px) {
  .selected_weather {
    width: 80%;
    margin: 2rem 2rem 5rem 2rem;
  }
}

@media (max-width: 700px) {
  .location_name {
    font-size: 2.2rem;
  }
  .selected_body {
    font-size: 3rem;
  }
}

@media (max-width: 650px) {
  .selected_weather {
    padding: 2rem;
    margin: 0rem 2rem 3rem 2rem;
  }

  .location_name {
    font-size: 2rem;
  }
}

@media (max-width: 520px) {
  .location_name {
    font-size: 1.8rem;
  }
  .selected_body {
    font-size: 2.5rem;
    margin-left: 0;
  }
  .selected_weather {
    width: 100%;
    margin: 0rem 0.9rem 1rem 0.9rem;
    padding: 1rem 2rem;
  }
  .selected_date_wrapper {
    margin: 0rem;
  }
  .selected_icon {
    width: 40%;
    height: auto;
    max-width: 240px;
    min-width: 90px;
  }
  .selected_list {
    gap: 1.3rem;
  }
  .selected_date {
    padding: 0.5rem 1rem;
  }
}
@media (max-width: 370px) {
  .location_name {
    font-size: 1.6rem;
  }
  .selected_icon {
    width: 40%;
    height: auto;
    max-width: 240px;
    min-width: 80px;
  }
  .selected_list {
    gap: 0.9rem;
  }
}
