.swiper-continer {
  margin: 40px;
}
.mySwiper {
  height: 100%;
  width: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  border-radius: 4%;
  margin-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

@media (max-width: 870px) {
  .swiper-slide {
    margin-bottom: 1.5rem;
  }
}
